<div class="container-fluid">
    <header class="row mx-0">
      <div class="col-2"><a href="/browse"><img src="assets/images/logo.png" alt="Logo" class="img-fluid"></a></div>
      <div class="col-8">
        <ul class="menu_list nav">
          <li><a href="/browse" class="nav-link ">Inicio</a></li>
          <li><a href="/browse/search" class="nav-link ">Procurar</a></li>
          <li><a href="/browse/search?type=SERIE" class="nav-link ">Séries</a></li>
          <li><a href="/browse/search?type=MOVIE" class="nav-link ">Filmes</a></li>
          <li><a href="/browse/latest" class="nav-link ">Mais Recentes</a></li>
          <li><a href="/browse/favorite" class="nav-link ">Favoritos</a></li>
          <li><a href="/auth/logout" class="nav-link "><i class="fa-solid fa-right-from-bracket me-1"></i>Logout</a></li>
        </ul>
      </div>
    </header>
  </div>